---
layout: root
---
<div class="page">
  <header class="row">
    <h1 class="logo">
      <a href="/" aria-label="Logo">
        <svg
          role="img"
          aria-hidden="true"
          focusable="false"
          width="36"
          height="36"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill="none" fill-rule="evenodd">
            <circle fill="#32414D" cx="50" cy="50" r="50"/>
            <circle fill="#FFF" cx="50" cy="50" r="40"/>
            <circle fill="#3867D6" cx="50" cy="50" r="30"/>
            <path fill="#FFF" d="M21.71572875 28.78679656l7.07106781-7.0710678 49.49747469 49.49747468-7.07106781 7.0710678z"/>
          </g>
        </svg>
      </a>
    </h1>
    <nav>
      <ul>
        {%- if globals.environment == "development" -%}
          <li><a href="/drafts">drafts</a></li>
        {%- endif -%}
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </header>
  <main class="row">
    {{ content }}
  </main>
</div>
