---
layout: root
---
<div class="page">
  <header class="row">
    <h1 class="logo">
      <a href="/">
        <svg width="32" height="32" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
          <g fill="#0a0d0f" stroke="#0a0d0f" stroke-width="1.3" fill-rule="evenodd">
            <path d="M18.546868 39.13470759c-.8917862.40708259-1.8641498.41415896-2.7153376.09651815-.8511877-.31764081-1.5811996-.9599988-1.9882822-1.85178493L5.30466791 18.6741765c-.21123634-.4627504-.32055675-.9654932-.32055675-1.4741765 0-.9803054.39734728-1.8678054 1.03977093-2.5102291C6.66630573 14.0473473 7.55380573 13.65 8.53411116 13.65H29.9200662c.7175929 0 1.4183389.2174703 2.0098499.623739.8080646.5550047 1.3146698 1.385 1.4805076 2.2782604.1658378.8932604-.0090917 1.8497858-.5640964 2.6578504L19.9989525 37.91511416c-.364487.53067858-.8664237.95225095-1.4520845 1.21959343zM41.453132 20.86529241c.8917862-.40708259 1.8641498-.41415896 2.7153376-.09651815.8511877.31764081 1.5811996.9599988 1.9882822 1.85178493l8.5385803 18.70526431c.2112363.4627504.3205567.9654932.3205567 1.4741765 0 .9803054-.3973472 1.8678054-1.0397709 2.5102291C53.3336943 45.9526527 52.4461943 46.35 51.4658888 46.35h-21.385955c-.7175929 0-1.4183389-.2174703-2.0098499-.623739-.8080646-.5550047-1.3146698-1.385-1.4805076-2.2782604-.1658378-.8932604.0090917-1.8497858.5640964-2.6578504l12.8473748-18.70526436c.364487-.53067858.8664237-.95225095 1.4520845-1.21959343z"/>
          </g>
        </svg>
      </a>
    </h1>
    <nav>
      <ul>
        {%- if globals.environment == "development" -%}
          <li><a href="/drafts">drafts</a></li>
        {%- endif -%}
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </header>
  <main class="row">
    {{ content }}
  </main>
</div>
