---
layout: root
---
<div class="page">
  <header class="row">
    <div class="logo">
      <a href="/" aria-label="Logo">
        <svg
          role="img"
          aria-hidden="true"
          focusable="false"
          width="36"
          height="36"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill="none" fill-rule="evenodd">
            <circle fill="#32414D" cx="50" cy="50" r="50" />
            <circle fill="#FFF" cx="50" cy="50" r="40" />
            <path
              d="M50 20c16.5685425 0 30 13.4314575 30 30 0 16.4028571-13.1641715 29.7310571-29.5038951 29.9959809L50 80V20z"
              fill="#3867D6"
            />
            <path
              d="M40.444444 30c-11.2911549 0-20.4444444 8.954305-20.4444444 20 0 10.935238 8.9711391 19.8207048 20.1063581 19.9973206L40.444444 70V30z"
              fill="#32414D"
            />
          </g>

        </svg>
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </header>
  <main class="row">
    {{ content }}
  </main>
</div>
