{%- assign cssFile = '/assets/css/' | append: manifest['main.min.css'] -%}
{%- assign jsFile = '/assets/js/' | append: manifest['main.min.js'] -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="Personal website of David Chen" name="description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="#ffffff" name="theme-color">

    <title>{{ title }}</title>

    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap">
    <link rel="stylesheet" href="{{ cssFile }}">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <script defer src="{{ jsFile }}"></script>
  </head>

  <body>
    {{ content }}
  </body>
</html>

