$red01: #ef5777;
$red02: #f53b57;
$blue01: #4b7bec;
$blue02: #3867d6;
$green01: #0be881;
$green02: #05c46b;
$violet01: #575fcf;
$violet02: #3c40c6;
$yellow01: #ffdd59;
$yellow02: #ffd32a;
$orange01: #ffc048;
$orange02: #ffa801;
$slate01: #ebeced;
$slate02: #c2c6ca;
$slate03: #99a0a6;
$slate04: #5b6771;
$slate05: #32414d;

$background: #fff;

$page-width: 52rem;
$page-gutter: 2rem;

$font-stack-title: Inter, Helvetica, "Segoe UI", Roboto, Arial, sans-serif;
$font-stack-body: Inter, Helvetica, "Segoe UI", Roboto, Arial, sans-serif;
$font-stack-mono: Menlo, Monaco, Consolas, monospace;

// https://rsms.me/inter/dynmetrics/

@mixin body-font-size {
  font-size: 1.5rem;
  letter-spacing: -0.009rem;
}

@mixin small-font-size {
  font-size: 1.3rem;
  letter-spacing: -0.003rem;
}

@mixin h1-font-size {
  font-size: 3.2rem;
  letter-spacing: -0.021rem;
}

@mixin h2-font-size {
  font-size: 2.4rem;
  letter-spacing: -0.019rem;
}

@mixin h3-font-size {
  font-size: 2rem;
  letter-spacing: -0.017rem;
}

@mixin bordered-anchor {
  color: $slate05;
  text-decoration: none;
  border-bottom: solid 0.2rem rgba($slate05, 0.5);
  padding-bottom: 0.2rem;

  &:hover {
    text-decoration: none;
    border-bottom: solid 0.2rem $blue02;
  }
}
