@import "normalize";

// ----------------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------------

:root {
  --color-background: #f6f5f5;
  --color-highlight: #000;
  --color-default: #3a3132;
  --color-dim: #9d9899;
  --color-vdim: #c4c1c2;
  --font-sans: Inter, Helvetica, Segoe UI, Roboto, Arial, sans-serif;
  --font-mono: Menlo, Monaco, Consolas, monospace;
  --font-size: 1.6rem;
  --font-size-s: 1.4rem;
  --spacing: 1.5em;
  --spacing-s: calc(0.5 * var(--spacing));
  --spacing-m: var(--spacing);
  --spacing-l: calc(1.5 * var(--spacing));
  --spacing-xl: calc(2.5 * var(--spacing));
  --spacing-xxl: calc(5 * var(--spacing));
  --spacing-width-max: 54rem;
}

// ----------------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

html {
  // Make it so that 1rem = 10px on most browsers.
  font-size: 62.5%;
  padding: 2rem;
}

body {
  background: var(--color-background);
  color: var(--color-default);
  font-family: var(--font-sans);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  max-width: var(--spacing-width-max);
  margin: 2vw auto;
}

// ----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------

h1,
h2,
h3 {
  color: var(--color-highlight);
  font-size: var(--font-size);
  font-weight: 500;
}

h1 {
  margin: 0;
}

h2 {
  margin: var(--spacing-m) 0;
}

h3 {
  margin: 0;
}

a {
  color: var(--color-default);
  text-decoration-color: var(--color-dim);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.05em;

  &:hover {
    color: var(--color-highlight);
    transition: color 0.3s ease-in;
  }
}

strong {
  font-weight: 700;
}

small {
  display: block;
  color: var(--color-dim);
  font-size: var(--font-size-m);
  line-height: 1.5;
}

em,
i {
  font-style: italic;
}

ul,
ol {
  padding: 0 0 0 2em;
}

blockquote {
  font-style: italic;
  margin: 2em 0;
  padding: 0 2em;
}

blockquote cite {
  font-style: normal;
}

table {
  font-size: var(--font-size-s);
  border-spacing: 0;
  border: 0.1rem solid var(--color-dim);
  width: 100%;
}

tr {
  th,
  td {
    background: var(--color-background);
    text-align: left;
    vertical-align: top;
    padding: 0.5em 1em;
    border-bottom: 0.1rem solid var(--color-vdim);
  }

  &:last-child td {
    border-bottom: none;
  }
}

// Inline code.
:not(pre) > code {
  font-size: var(--font-size-s);
  font-family: var(--font-mono);
  background: var(--color-background);
  border: 0.1rem solid var(--color-vdim);
  padding: 0.1em 0.05em;
  margin: 0 0.1em;

  &:before,
  &:after {
    content: "\00a0";
    letter-spacing: -0.2em;
  }
}

pre {
  font-size: var(--font-size-s);
  font-family: var(--font-mono);
  background: var(--color-background);
  border: 0.1rem solid var(--color-vdim);
  padding: 1em;
  margin: 1em 0;
  overflow: auto;
}

pre > code {
  font-family: var(--font-mono);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
}

// ----------------------------------------------------------------------------
// Block elements
// ----------------------------------------------------------------------------

img {
  height: auto;
  max-width: 100%;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 0.1rem solid var(--color-vdim);
}

main {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.split {
  margin-bottom: var(--spacing-m);

  &__label {
    color: var(--color-dim);
    font-weight: 500;
  }
}

@media (min-width: 540px) {
  .split {
    display: grid;
    grid-template-columns: 8em 1fr;
    align-items: baseline;
    margin-bottom: var(--spacing-s);
  }
}

// ----------------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------------

header {
  color: var(--color-dim);
  font-weight: 500;
  margin-bottom: var(--spacing-xl);

  a {
    text-decoration: none;
  }
}

// ----------------------------------------------------------------------------
// Home
// ----------------------------------------------------------------------------

.home {
  section {
    margin-bottom: var(--spacing-xl);
  }
}

// ----------------------------------------------------------------------------
// Posts
// ----------------------------------------------------------------------------

.post {
  header {
    margin-bottom: var(--spacing-l);
  }

  h2 {
    margin: 0;
  }
}
