@import "normalize";
@import "variables";

::selection {
  background: $yellow01;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $background;
  color: $slate05;

  @include body-font-size;
  font-family: $font-stack-body;
  font-weight: 400;
  line-height: 1.5;

  width: 100%;
  max-width: $page-width;
  padding: 0 $page-gutter;
  margin: 0 auto;
}

h1 {
  @include h1-font-size;
  color: #000;
  line-height: 1.25;
  margin: 0.5em 0;
}

h2 {
  @include h2-font-size;
  color: #000;
  line-height: 1.25;
  margin: 2em 0 0.5em;
}

h3 {
  @include h3-font-size;
  color: #000;
  line-height: 1.25;
  margin: 2em 0 0.5em;
}

h4,
h5,
h6 {
  color: #000;
}

a {
  color: $slate05;

  &:hover {
    color: $blue02;
  }
}

em,
i {
  font-style: italic;
}

ul,
ol {
  padding: 0 0 0 2em;
}

blockquote {
  color: $slate04;
  border-left: 0.2em solid $slate05;
  margin: 2em 0;
  padding: 0 2em;
}

blockquote cite {
  font-style: normal;
}

table {
  @include small-font-size;
  border-spacing: 0;
  border: 0.1rem solid $slate01;
  width: 100%;
}

tr {
  th,
  td {
    background: $background;
    text-align: left;
    vertical-align: top;
    padding: 0.5em 1em;
    border-bottom: 0.1rem solid $slate01;
  }

  &:last-child td {
    border-bottom: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 0.1rem solid $slate01;
}

// Inline code.
:not(pre) > code {
  @include small-font-size;
  font-family: $font-stack-mono;
  background: $background;
  border: 0.1rem solid $slate01;
  padding: 0.1em 0.05em;
  margin: 0 0.1em;

  &:before,
  &:after {
    content: "\00a0";
    letter-spacing: -0.2em;
  }
}

pre {
  @include small-font-size;
  font-family: $font-stack-mono;
  background: $background;
  border: 0.1rem solid $slate01;
  padding: 1em;
  margin: 1em 0;
  overflow: auto;
}

pre > code {
  font-family: $font-stack-mono;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
}

.header {
  display: flex;
  align-items: center;
  height: 8rem;

  &__logo {
    a,
    svg {
      display: block;
    }
  }
}

.main {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.home {
  &__title {
    @include h1-font-size;
    letter-spacing: -0.05em;
  }

  &__links {
    a {
      @include body-font-size;
      @include bordered-anchor;
    }
  }

  &__divider {
    margin: 0 0.1em;
  }
}

.posts {
  &__title {
    @include h1-font-size;
    letter-spacing: -0.05em;
  }

  &__links {
    a {
      @include body-font-size;
      @include bordered-anchor;
    }
  }

  &__date {
    @include small-font-size;
    color: $slate04;
    margin-left: 0.4em;
  }
}

.post {
  &__title {
    @include h1-font-size;
    letter-spacing: -0.05em;
  }

  &__date {
    display: block;
    color: $slate04;
    margin: 2em 0 1em;
  }
}
