---
permalink: 404.html
eleventyExcludeFromCollections: true
---

{% extends 'layouts/base.njk' %}

{% set metaTitle = 'Page not found' %}
{% set metaDescription = 'This page does not exist.' %}

{% block content %}

  <h1>404</h1>
  <p>Sorry, we can't find what you're looking for.</p>
  <a href="/">Return to the homepage</a>

{% endblock %}