---
layout: layouts/base
title: About
permalink: about/index.html
---

<h1>Hello!</h1>

<p>
  I'm David. I'm a product engineer at <a href="https://stripe.com">Stripe</a>,
  where I build products to delight new users. I currently live in the San
  Francisco Bay Area.
</p>