---
permalink: about/index.html
---

{% extends 'layouts/base.njk' %}

{% set metaTitle = 'About — David Chen' %}
{% set metaDescription = 'David Chen is a software engineer living in the San Francisco Bay Area.' %}

{% block content %}

  <h1>Hello.</h1>

  <p>
    I'm David Chen, a software engineer living in the San Francisco Bay Area.
    This site is dedicated to my creative interests and whims.
  </p>

  <p>
   I currently work at <a href="https://stripe.com">Stripe</a>, where I build
   products to delight new users. Previously, I've worked at Google and Amazon,
   and studied computer science at the University of Michigan in Ann Arbor.
  </p>

  <p>
    My email address is
    <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>.
    You can also find me on
    <a href="{{ site.links.twitter }}">Twitter</a>,
    <a href="{{ site.links.github }}">GitHub</a>, and
    <a href="{{ site.links.linkedin }}">LinkedIn</a>. My blog also has an
    <a href="{{ site.feed }}">Atom feed</a>.
  </p>

{% endblock %}