---
permalink: about/index.html
---

{% extends 'layouts/base.njk' %}

{% set metaTitle = 'About — David Chen' %}
{% set metaDescription = 'David Chen is a software engineer in San Francisco' %}
{% set metaImage = metadata.image %}

{% block content %}

  <h1>Hello!</h1>
  <p>
    I'm David. I'm a product engineer at <a href="https://stripe.com">Stripe</a>,
    where I build products to delight new users. I currently live in the San
    Francisco Bay Area.
  </p>

{% endblock %}