---
permalink: index.html
---

{% extends 'layouts/base.njk' %}

{% set metaTitle = site.title %}
{% set metaDescription = 'David Chen is a software engineer living in the San Francisco Bay Area.' %}

{% block main %}

  <h1>David Chen</h1>

  <div class="hero">
    <div class="hero__blurb">
      <p>
        Hello! I'm a software engineer living in the San Francisco Bay Area.
        This site is dedicated to my creative interests and whims. I enjoy
        programming, and sometimes <a href="{{ site.blog }}">write about it</a>.
      </p>
      <p>
        I currently work at <a href="https://stripe.com">Stripe</a>. Previously,
        I've also worked at Google and Amazon. If you want to say hello, my
        email address is <a href="mailto:{{site.author.email }}">{{ site.author.email }}</a>.
      </p>
    </div>

    <div class="hero__links">
      <a href="{{ site.blog }}">Blog</a>
      <span class="hero__divider">/</span>
      <a href="{{ site.feed }}">RSS</a>
      <span class="hero__divider">/</span>
      <a href="{{ site.links.twitter }}">Twitter</a>
      <span class="hero__divider">/</span>
      <a href="{{ site.links.github }}">GitHub</a>
      <span class="hero__divider">/</span>
      <a href="{{ site.links.linkedin }}">LinkedIn</a>
    </div>
  </div>

{% endblock %}