---
permalink: index.html
---

{% extends 'layouts/base.njk' %}

{% set metaTitle = site.title %}
{% set metaDescription = site.description %}

{% block content %}

  <h1>Blog</h1>

  <ul class="posts">
    {%- for post in collections.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
        <time class="posts__date" datetime="{{ post.date | moment('YYYY-MM-DD') }}">
          {{ post.date | moment('MMMM D, YYYY') }}
        </time>
        {% if post.data.draft %}
          <span class="posts__draft">Draft</span>
        {% endif %}
      </li>
    {%- endfor %}
  </ul>

{% endblock %}