{% extends 'layouts/base.njk' %}

{% set metaTitle = title ~ ' — David Chen' %}
{% set metaDescription = page.excerpt | trim | replace('\n', '') %}

{% block content %}

  <article class="post">
    <h1>{{ title }}</h1>
    <time class="published-date" datetime="{{ page.date | moment('YYYY-MM-DD') }}">
      {{ page.date | moment('MMMM D, YYYY') }}
    </time>
    {{ content | safe }}
  </article>

{% endblock %}