{%- macro title() -%}
  {%- if section and section.title -%}
    {{ section.title ~ " — " ~ config.title }}
  {%- elif page and page.title -%}
    {{ page.title ~ " — " ~ config.title }}
  {%- else -%}
    {{ config.title }}
  {%- endif -%}
{%- endmacro title -%}

{%- macro description() -%}
  {%- if section and section.description -%}
    {{ section.description }}
  {%- elif page and page.description -%}
    {{ page.description }}
  {%- else -%}
    {{ config.description }}
  {%- endif -%}
{%- endmacro description -%}

{%- macro image() -%}
  {%- if section and section.extra.image -%}
    {{ get_url(path=section.extra.image) }}
  {%- elif page and page.extra.image -%}
    {{ get_url(path=page.extra.image) }}
  {%- else -%}
    {{ get_url(path="img/logo-padded-400x400.png") }}
  {%- endif -%}
{%- endmacro image -%}

{%- macro url() -%}
  {%- if current_url -%}
    {{ current_url }}
  {%- else -%}
    {{ config.base_url }}
  {%- endif -%}
{%- endmacro url -%}
