{%- macro title() -%}
  {%- if section and section.title -%}
    {{ section.title }}
  {%- elif page and page.title -%}
    {{ page.title }}
  {%- else -%}
    {{ config.title }}
  {%- endif -%}
{%- endmacro title -%}

{%- macro description() -%}
  {%- if section and section.description -%}
    {{ section.description }}
  {%- elif page and page.description -%}
    {{ page.description }}
  {%- else -%}
    {{ config.description }}
  {%- endif -%}
{%- endmacro description -%}

{%- macro image() -%}
  {{ get_url(path="img/logo-padded-400x400.png") }}
{%- endmacro image -%}
