{% import "macros/head.html" as head -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{{ head::title() }}{% endblock %}</title>

    <meta
      name="description"
      content="{% block description %}{{ head::description() }}{% endblock %}"
    />
    <meta name="theme-color" content="#ffffff" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/main.css" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <link rel="canonical" href="{{ head::url() }}" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="RSS"
      href="/atom.xml"
    />

    <script defer src="/js/main.js"></script>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ head::url() }}" />
    <meta property="og:title" content="{{ head::title() }}" />
    <meta property="og:description" content="{{ head::description() }}" />
    <meta property="og:image" content="{{ head::image() }}" />
    <meta property="og:site_name" content="{{ config.title }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ config.extra.twitter_id }}" />
    <meta name="twitter:creator" content="{{ config.extra.twitter_id }}" />
    <meta name="twitter:title" content="{{ head::title() }}" />
    <meta name="twitter:description" content="{{ head::description() }}" />
    <meta name="twitter:image" content="{{ head::image() }}" />
  </head>

  <body>
    <header>
      <a href="/"><h1>David Chen</h1></a>
      <div>Software Engineer</div>
      <div>San Francisco Bay Area</div>
    </header>
    <main class="main">{% block content %}{% endblock %}</main>
  </body>
</html>
