{% extends "base.html" %} {% block content %}
<div class="home">
  <h1>About</h1>
  <p>
    I'm a software engineer living in the San Francisco Bay Area. I've spent
    most of my career as full-stack engineer focusing on product and web
    development. I'm intrigued by the art of crafting elegant code to solve
    complex problems and build delightful products.
  </p>
  <p>
    With a decade of experience in the tech industry, I've had the privilege to
    work with talented teams in companies of all sizes, such as Amazon, Google,
    Stripe, and most recently Watershed.
  </p>

  <p>
    I'm always eager to connect with like-minded individuals and explore new
    opportunities. My email is
    <a href="mailto:{{config.extra.email }}">{{ config.extra.email }}</a>.
  </p>
</div>
{% endblock content %}
