{% extends "base.html" %} {% block content %}
<div class="home">
  <section>
    <h2>About</h2>
    <p>
      I'm a software engineer living in the San Francisco Bay Area. I have a
      decade of experience working in the tech industry, with a focus on web and
      product development. I enjoy building delightful user experiences and
      diving into the finer details of making things work.
    </p>
  </section>

  <section>
    <h2>Contact</h2>
    <div class="split">
      <div class="split__label">Email</div>
      <div>
        <a href="mailto:{{config.extra.email}}">{{config.extra.email}}</a>
      </div>
    </div>
    <div class="split">
      <div class="split__label">GitHub</div>
      <div>
        <a href="{{config.extra.github_url}}">{{config.extra.github_id}}</a>
      </div>
    </div>
    <div class="split">
      <div class="split__label">LinkedIn</div>
      <div>
        <a href="{{config.extra.linkedin_url}}">{{config.extra.linkedin_id}}</a>
      </div>
    </div>
  </section>

  <section>
    <h2>Work Experience</h2>
    <div class="split">
      <div class="split__label">2022–2023</div>
      <div>
        <h3>Senior Software Engineer at Watershed</h3>
        <small>San Francisco, CA</small>
      </div>
    </div>
    <div class="split">
      <div class="split__label">2018–2022</div>
      <div>
        <h3>Senior Software Engineer at Stripe</h3>
        <small>San Francisco, CA</small>
      </div>
    </div>
    <div class="split">
      <div class="split__label">2014–2018</div>
      <div>
        <h3>Software Engineer at Google</h3>
        <small>Mountain View, CA</small>
      </div>
    </div>
    <div class="split">
      <div class="split__label">2013–2014</div>
      <div>
        <h3>Software Engineer at Amazon</h3>
        <small>Seattle, WA</small>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
