{% extends "base.html" %}

{% block content %}
  <h1 class="title">David Chen</h1>
  <div class="hero">
    <p>
      Hello! I'm a software engineer living in the San Francisco Bay Area.
      This site is dedicated to my creative interests and whims. I find programming
      fascinating, and sometimes <a href="/blog">write about it</a>.
    </p>
    <p>
      I currently work at <a href="https://stripe.com">Stripe</a>. Previously,
      I've also worked at Google and Amazon. If you'd like to get in touch,
      my email address is <a href="mailto:{{config.extra.email }}">{{ config.extra.email }}</a>.
    </p>
    <div class="hero__links">
      <a href="/blog">Blog</a>
      <span class="hero__divider">/</span>
      <a href="/atom.xml">RSS</a>
      <span class="hero__divider">/</span>
      <a href="{{ config.extra.twitter_url }}">Twitter</a>
      <span class="hero__divider">/</span>
      <a href="{{ config.extra.github_url }}">GitHub</a>
      <span class="hero__divider">/</span>
      <a href="{{ config.extra.linkedin_url }}">LinkedIn</a>
    </div>
  </div>
{% endblock content %}
