@import 'variables';

/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

// Inline code.
:not(pre) > code {
  font-family: $font-stack-mono;
  background: rgba($slate01, 0.5);
  border-radius: 0.2rem;
  padding: 0.2rem 0;

  &:before,
  &:after {
    content: '\00a0';
    letter-spacing: -0.2em;
  }
}

pre {
  background: #282a36;
  font-family: $font-stack-mono;
  font-size: $font-size * 0.85;
  border-radius: 0.6rem;
  padding: $font-size;
  margin: $font-size 0;
  overflow: scroll;

  @media only screen and (max-width: remToPx($page-width + ($page-gutter * 2))) {
    border-radius: 0;
  }
}

pre > code {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: $font-stack-mono;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c;
}

.token.keyword {
  color: #8be9fd;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
