@import 'normalize';
@import 'prism';
@import 'variables';

::selection {
  background: $yellow01;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @include font-size($base-font-sizes);
  color: $grey10;
  font-family: $font-stack;
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  @include font-size($h1-font-sizes);
  line-height: 1.25;
  margin: 0.5em 0;
}

h2 {
  @include font-size($h2-font-sizes);
  line-height: 1.25;
}

h3 {
  @include font-size($h3-font-sizes);
  line-height: 1.25;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
}

a {
  color: $blue02;
  text-decoration: underline rgba($blue02, 0.5);

  &:hover {
    text-decoration: underline $blue02;
  }
}

em,
i {
  font-style: italic;
}

ul,
ol {
  padding: 0 0 0 2em;
}

blockquote {
  color: $grey06;
  margin: 2em 0;
  padding: 0 2em;
}

table {
  @include font-size($small-font-sizes);
  border-spacing: 0;
  border: 0.1rem solid $grey01;
  width: 100%;
}

tr {
  th,
  td {
    text-align: left;
    vertical-align: top;
    padding: 0.5em 1em;
    border-bottom: 0.1rem solid $grey01;
  }

  th {
    background: $background-light;
    font-weight: normal;
  }

  &:last-child td {
    border-bottom: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 0.1rem solid $grey01;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: $page-gutter;
  padding-right: $page-gutter;
}

.row {
  width: 100%;
  max-width: $page-width;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 10rem;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;

    a,
    a:hover {
      display: block;
    }

    svg {
      display: block;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      padding-left: 1em;
    }

    a {
      display: block;
      color: $grey06;
      font-weight: bold;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: $grey10;
        text-decoration: none;
      }
    }
  }
}

.main {
  flex: 1 0 auto;
  padding: 2rem 0 6rem;
}

.footer {
  @include font-size($small-font-sizes);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 0.1rem solid $grey01;
  padding: 1.5em 0 3em;

  &__copyright {
    margin: 0.25em 2em 0.25em 0;
  }

  &__links {
    margin: 0.25em 0;

    a {
      display: inline-block;
      color: $grey10;
      text-decoration: underline rgba($grey10, 0.4);

      &:hover {
        text-decoration: underline $grey10;
      }
    }
  }

  &__divider {
    margin: 0 0.2rem;
  }
}

.posts {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 1em 0;

    a {
      color: $grey10;
      text-decoration: none;
      border-bottom: solid 0.2rem rgba($blue02, 0.4);

      &:hover {
        text-decoration: none;
        border-bottom: solid 0.2rem $blue02;
      }
    }
  }

  &__draft {
    color: $red02;
    background: rgba($red02, 0.2);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    border-radius: 0.8em;
    padding: 0.2em 0.8em;
    margin-left: 0.2em;
    position: relative;
    left: 0;
    bottom: 0.2em;
  }

  &__date {
    @include font-size($small-font-sizes);
    color: $grey06;
    margin-left: 0.5em;
  }
}

.post {
  &__date {
    display: block;
    color: $grey06;
    margin: 2em 0 1em;
  }
}
