@import 'normalize';
@import 'prism';
@import 'variables';

::selection {
  background: rgba($yellow01, 0.5);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $grey10;
  font-size: $font-size;
  font-family: $font-stack;
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  font-size: $font-size * 2.5;
  line-height: 1.25;
  margin: 0.5em 0;
}

h2 {
  font-size: $font-size * 1.5;
  line-height: 1.25;
}

h3 {
  font-size: $font-size * 1.25;
  line-height: 1.25;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
}

a {
  color: $grey10;
  text-decoration: none;
  border-bottom: solid 0.15em rgba($blue02, 0.5);

  &:hover {
    text-decoration: none;
    border-bottom: solid 0.15em $blue02;
  }
}

em,
i {
  font-style: italic;
}

ul,
ol {
  padding: 0 0 0 ($font-size * 2);
}

blockquote {
  color: $grey06;
  margin: ($font-size * 2) 0;
  padding: 0 ($font-size * 2);
}

table {
  font-size: $font-size * 0.875;
  border-spacing: 0;
  border: 0.1rem solid $grey01;
  width: 100%;
}

tr {
  th,
  td {
    text-align: left;
    vertical-align: top;
    padding: $font-size * 0.5 $font-size;
    border-bottom: 0.1rem solid $grey01;
  }

  th {
    background: $background-light;
    font-weight: normal;
  }

  &:last-child td {
    border-bottom: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 0.1rem solid $grey01;
}

.page {
  padding-left: $page-gutter;
  padding-right: $page-gutter;

  .row {
    width: 100%;
    max-width: $page-width;
    margin: 0 auto;
  }
}

header {
  display: flex;
  justify-content: space-between;
  height: 9.6rem;

  * {
    font-size: $font-size;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;

    a,
    a:hover {
      display: block;
      border-bottom: none;
      transition: all 0.2s ease-in-out;
    }

    a:hover {
      transform: translateY(2px);
    }

    svg {
      display: block;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      padding-left: $font-size * 2;
    }

    a {
      display: block;
      color: $grey06;
      font-weight: bold;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      border-bottom: none;

      &:hover {
        color: $grey10;
        border-bottom: none;
      }
    }
  }
}

main {
  padding: $font-size * 2 0 $font-size * 6;
}

.posts {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 1em 0;
  }

  .post-draft-label {
    color: $red02;
    background: rgba($red02, 0.2);
    font-size: $font-size * 0.625;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    border-radius: 8px;
    padding: 0.2em 0.8em;
    margin-left: 1em;
  }

  .post-date {
    color: $grey06;
    font-size: $font-size * 0.85;
    margin-left: 0.5em;
  }
}

.post {
  .post-date {
    color: $grey06;
    margin: 2em 0 1em;
  }
}
