@import 'normalize';
@import 'prism';
@import 'variables';

::selection {
  background: rgba($yellow01, 0.5);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $slate05;
  font-size: $font-size;
  font-family: $font-stack;
  font-weight: normal;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
}

a {
  color: $slate05;
  text-decoration: none;
  border-bottom: solid 0.1em rgba($blue02, 0.5);

  &:hover {
    color: $slate05;
    text-decoration: none;
    border-bottom: solid 0.1em $blue02;
  }
}

em,
i {
  font-style: italic;
}

ul,
ol {
  padding: 0 0 0 ($font-size * 2);
}

blockquote {
  color: $grey06;
  margin: ($font-size * 2) 0;
  padding: 0 ($font-size * 2);
}

table {
  border-spacing: 0;
  border: 1px solid $grey01;
  border-radius: 0.6rem;
  width: 100%;
}

tr {
  th {
    background: rgba($slate01, 0.2);
    text-align: left;
    border-bottom: 1px solid $grey01;
    padding: $font-size;
  }

  td {
    text-align: left;
    border-bottom: 1px solid $grey01;
    padding: ($font-size * 0.5) $font-size;
  }

  &:last-child td {
    border-bottom: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 0.1rem solid $grey01;
}

.page {
  padding-left: $page-gutter;
  padding-right: $page-gutter;

  .row {
    width: 100%;
    max-width: $page-width;
    margin: 0 auto;
  }
}

header {
  display: flex;
  justify-content: space-between;
  height: 9.6rem;

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
    margin: 0;

    a,
    a:hover {
      border-bottom: none;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      padding-left: $font-size * 2;
    }

    a {
      display: block;
      color: $grey04;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: none;

      &:hover {
        color: $slate05;
        border-bottom: solid 0.1em rgba($blue02, 1);
        margin-bottom: -0.1em;
      }
    }
  }
}

main {
  padding: $font-size * 3 0;
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0 0 1em 0;
  }

  .post-date {
    color: $grey05;
    font-size: $font-size * 0.75;
    margin-left: 0.4rem;
  }
}

.post {
  .post-title {
    font-size: 4.8rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }

  .post-date {
    color: $grey05;
  }
}
