@import 'variables';

// Inline code.
:not(pre) > code {
  @include font-size($small-font-sizes);
  font-family: $font-stack-mono;
  background: $background-light;
  border: 0.1rem solid $slate01;
  padding: 0.1em 0.05em;
  margin: 0 0.1em;

  &:before,
  &:after {
    content: '\00a0';
    letter-spacing: -0.2em;
  }
}

pre {
  @include font-size($small-font-sizes);
  font-family: $font-stack-mono;
  background: $background-light;
  border: 0.1rem solid $slate01;
  padding: 1em;
  margin: 1em 0;
  overflow: auto;
}

pre > code {
  color: $slate05;
  font-family: $font-stack-mono;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 2;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  color: $slate03;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #5e8e01;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #0070a3;
}

.token.function {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}
