$red01: #ef5777;
$red02: #f53b57;
$blue01: #4b7bec;
$blue02: #3867d6;
$green01: #0be881;
$green02: #05c46b;
$violet01: #575fcf;
$violet02: #3c40c6;
$yellow01: #ffdd59;
$yellow02: #ffd32a;
$orange01: #ffc048;
$orange02: #ffa801;
$slate01: #ebeced;
$slate02: #c2c6ca;
$slate03: #99a0a6;
$slate04: #5b6771;
$slate05: #32414d;

$color-bg: #fffef2;
$color-bg-light: #fff;
$color-fg: $slate05;
$color-fg-light: $slate04;

$page-width: 56rem; // 70-75 characters for 16px neue-haas-unica
$page-gutter: 2rem;

$font-stack-title: orpheuspro, serif;
$font-stack-body: neue-haas-unica, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Helvetica, Arial, sans-serif;
$font-stack-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
  monospace;

$base-font-sizes: (
  default: 1.6rem,
  480px: 1.6rem,
);

$small-font-sizes: (
  default: 1.4rem,
  480px: 1.4rem,
);

$h1-font-sizes: (
  default: 3.6rem,
  480px: 3.6rem,
);

$h2-font-sizes: (
  default: 2.4rem,
  480px: 2.4rem,
);

$h3-font-sizes: (
  default: 2rem,
  480px: 2rem,
);

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == default {
      font-size: $fs-font-size;
    } @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin page-layout {
  width: 100%;
  max-width: $page-width;
  padding: 0 $page-gutter;
  margin: 0 auto;
}
