$grey01: #e7e7e7;
$grey02: #cecfcf;
$grey03: #b6b6b7;
$grey04: #9d9e9f;
$grey05: #858687;
$grey06: #6c6e6f; // contrast ratio 5.13 on white bg
$grey07: #545657;
$grey08: #3b3d3f;
$grey09: #232527;
$grey10: #0a0d0f;
$red01: #ef5777;
$red02: #f53b57;
$blue01: #4b7bec;
$blue02: #3867d6;
$green01: #0be881;
$green02: #05c46b;
$violet01: #575fcf;
$violet02: #3c40c6;
$yellow01: #ffdd59;
$yellow02: #ffd32a;
$orange01: #ffc048;
$orange02: #ffa801;
$slate01: #5b768b;
$slate02: #32414d;

$background-light: #f8f9fa;

$font-size: 1.6rem;
$page-width: $font-size * 33.75;
$page-gutter: 2rem;

$font-stack: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Helvetica Neue', Roboto, Ubuntu, sans-serif;
$font-stack-mono: 'Fira Mono', SFMono-Regular, Menlo, Consolas,
  'Liberation Mono', monospace;
