---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>{{ site.url ~ '/' }}</id>
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <icon>{{ site.url ~ '/assets/logo/logo-128x128.png' }}</icon>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <link rel="self" href="{{ site.url ~ '/feed.xml' }}"/>
  <link rel="alternate" href="{{ site.url }}/"/>
  {%- for post in collections.posts %}
    {%- set absolutePostUrl %}
    {{- post.url | url | absoluteUrl(site.url) }}
    {%- endset %}
    <entry>
      <id>{{ absolutePostUrl }}</id>
      <title>{{ post.data.title }}</title>
      <updated>{{ post.date | rssDate }}</updated>
      <link rel="alternate" href="{{ absolutePostUrl }}"/>
      <content type="html">
        {{- post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
      </content>
    </entry>
  {%- endfor %}
</feed>